* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-image: url(../img/02.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  

}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  opacity: 0.7;
  
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  opacity: 0.7;
}  

.container  h1{
  display: flex;
  justify-content: center;

  margin-top: 200px;
  margin-right: 700px;
}

.container  h2{
  display: flex;
  justify-content: center;
  
  margin-right: 600px;
}


